.search__title {
    font-size: 20px;
    font-weight: 600;
}

.search__time {
    font-size: 12px;
    color: rgba(148, 148, 148, 1);
}

.search__author {
    font-size: 14px;
    color: rgba(120, 120, 120, 1);
}

.search__desc {
    font-size: 12px;
    color: #606060;
    font-weight: 500;
}

.search__form {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        outline  : none;
        min-width: 360px;
        padding  : 4px 8px;
        border: 1px solid #eee;
    }

    button {
        outline         : none;
        padding         : 5px 10px;
        border          : none;
        background-color: #e2e2e2;
    }
}

.youtube__item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}